$base-color: #333;
$border-bottom-color: #e5e5e5;
$footer-color: #666;
$icon-color: #007a87;

$title-h2-fontSize-sp: 2.4rem;
$title-h2-fontSize-tab: 2.8rem;
$title-h2-fontSize-pc: 3rem;
$title-h3-fontSize: 1.2rem;
$copy-fontSize: 1.15rem;

$pc: 1128px;
$tab: 744px;

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}


// ----- header -----


.header {
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid $border-bottom-color;

  @include tab {
  }
.header_outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 15;
  position: relative;

  &._active {
    position: fixed;
    z-index: 15;  
  }

  .header_inner {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    height: 80px;

    .header_logo {
      display: block;
      background-color: #fff;
      a {
        i {
          font-size: 34px;
          padding: 0 24px;
          color: red;
        }
      }
    }

    .nav-trigger {
      @include pc {
        display: none;
      }
      display: inline-block;
      transition: all .4s;
      position: absolute;
      width: 9px;
      height: 33px;
      left: 62px;
      top: 28px;

      &._active {
        transform: translateX(6.2px) translateY(-12.4px) rotate(180deg);
      }

      span {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        top: 10px;
        width: 100%;
        height: 1px;
        border-radius: 4px;
        background-color: #484848;
        &:nth-of-type(1) {
          left: 6.2px;
          -webkit-transform: translateY(0px) rotate(-45deg);
          transform: translateY(0px) rotate(-45deg);
        }
        &:nth-of-type(2) {
          left: 0;
          -webkit-transform: translateX(0.3px) rotate(45deg);
          transform: translateX(0.3px) rotate(45deg);
        }
      }
    }

    .header_searchBox {
      display: flex;
      height: 48px;
      margin: auto 0;
      box-shadow: 0px 3px 9px rgba(0,0,0,0.2);
      border-radius: 5px;
      margin-right: 30px;
      margin-left: 15px;
      align-items: center;
      width: 100%;

      &._active {
        // display: none;
        visibility: hidden;
      }

      i {
        font-size: 18px;
        margin: 0 1rem;
        color: #484848;
      }

      input {
        font-family: Circular,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic","MS Gothic","ＭＳ ゴシック","Helvetica Neue",Helvetica,Arial,sans-serif !important;
        padding: 13px 0;
        border: 0;
        margin: 0;
        outline: 0;
        font-weight: 800;
        height: 48px;
        width: 100%;
        transition: all .3s ease;

        @include tab {
          width: 458px;
          &:focus {
            width: 560px;
          }
        }
      }
    }
  }// /.header_inner
  
  .header_nav {
    display: none;
    @include pc {
      display: flex;
      height: 78px;
    }
    .header_list {
      display: flex;

      .header_item {
        padding: 0 1rem;
        display: flex;

        a {
          font-size: 0.9rem;
          font-weight: 600;
          color: #484848;
          display: flex;
          align-items: center;

          &:hover {
            border-bottom: solid 2px #484848;
            text-decoration: none;
          }
        }
      }
    }
  }
}// /.header_outer

.gnav {
  background-color: #fff;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translateY(-90%);
  transition: all .3s 0s ease;
  display: block;
  z-index: -5;
  padding: 1rem;
  padding-top: 96px;
  overflow: scroll;
  
  &._active {
    transform: translateY(0%);
    z-index: 10;

  }

  @include pc {
    display: none;
    // background-color: #fff;
  }
  .gnav_list {
    .gnav_item {
      margin-bottom: 2rem;
      &:last-child {
        margin-bottom: 100px;
      }
      a {
        font-size: 1rem;
        color: #484848;
      }

      hr {
        color: rgb(235, 235, 235);
      }
    }
  }
}

  #header_alert {
    position: fixed;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    z-index: 13;
    width: 100vw;
    top: 80px;
    
    .alert_inner {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      
      .fa-comment-dots {
        color: #4cb0bb;
        font-size: 34px;
        margin-right: 10px;
        @include pc {

        }
      }
  
      #alert_message {
        font-size: 14px;
      }
    }

    #btnAlert {
      padding: 0;
      position: absolute;
      top: 12px;
      right: 29px;
    }
  }
}



// ----- main -----


.main_container {


  // --- top_container ---


  .top_container {
    position: relative;

    .top_img {
      background-image: url(./img/BackgroundHomeSummer.jpg);
      width: 100%;
      height: 400px;
      -webkit-background-size: cover;
      background-size: cover;
      background-position: bottom;

      @include tab {
        height: 600px;
      }
    }

    .topParts_wrapper {
      margin: 0 auto;
      padding: 0 12px;
      width: auto;

      @include tab {
        width: 696px;
        padding: 0 24px;
      }

      @include pc {
        width: 1080px;
      }

      .topParts_inner {
        position: absolute;
        top: 49%;
        -ms-transform: translate(0%,-50%);
        -webkit-transform: translate(0%,-50%);
        transform: translate(0%,-50%);

        .top_ttl {
          font-size: $title-h2-fontSize-sp;
          color: #fff;
          font-weight: bold;
          margin-bottom: 1.5rem;
          opacity: 0.9;

          @include tab {
            font-size: $title-h2-fontSize-tab;
          }
        }

        .top_copy {
          font-size: $copy-fontSize;
          color: #fff;
          margin-bottom: 2.4rem;
          opacity: 0.9;
        }

        .giftCard_button {
          background-color: #fff;
          padding: 13px 20px;
          color: $base-color;
          font-weight: bold;
          border-radius: 4px;
          text-decoration: none
        }
      }
    }
  }


  // --- giftDescription_container ---

  .giftDescription_container {
    background-color: #fff;
    width: auto;
    padding: 40px 12px 0;
    margin: 0 auto;

    @include tab {
      width: 696px;
      padding: 40px 24px 0;
    }

    @include pc {
      width: 1080px;
    }

    .giftDescription_ttl {
      font-size: 1.8rem;
      font-weight: bold;
      color: $base-color;
      text-align: center;
    }

    .giftDescription_wrapper {
      padding-top: 40px;

    @include tab {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: space-between;
    }

      .giftDescription_wrap {
        padding-top: 20px 0;

        @include tab {
          width: 30%;
        }

        .fa-envelope {
          color:$icon-color;
          font-size: 60px;
          width: 100%;
          text-align: center;
          padding-bottom: 30px;
          margin: 0 auto;
        }

        .fa-stopwatch {
          color:$icon-color;
          font-size: 60px;
          width: 100%;
          text-align: center;
          padding-bottom: 30px;
          margin: 0 auto;
        }

        .fa-globe {
          color:$icon-color;
          font-size: 60px;
          width: 100%;
          text-align: center;
          padding-bottom: 30px;
          margin: 0 auto;
        }

        .giftDescription_ttl {
          font-size: $title-h3-fontSize;
          font-weight: bold;
          text-align: center;
          padding-bottom: 30px;
          opacity: 0.9;
        }

        .giftDescription_copy {
          font-size: 1rem;
          color: #767676;
          text-align: center;
          padding-bottom: 40px;

        }
      }
    }
  }


  // --- giftCard_container ---


  .giftCard_container {
    background-color: #007A87;

    .giftCard_wrapper {
      margin: 0 auto;
      width: auto;
      padding: 40px 12px;

      @include tab {
        width: 696px;
        padding: 40px 24px;
      }

      @include pc {
        width: 1080px;
      }

      .presentIcon {
        margin: 0 auto;
        display: block;
        padding-bottom: 20px;
      }

      .giftCard_ttl {
        color: #fff;
        font-weight: bold;
        text-align: center;
        padding-bottom: 10px;
      }

      .giftCard_copy {
        color: #fff;
        font-size: 1.2rem;
        text-align: center;
        padding-bottom: 50px;
      }

      .giftCard_button_wrap {
        background-color: #fff;
        width: 100%;
        border-radius: 4px;
        margin: 0 auto;

        @include tab {
          width: max-content;
        }


        .giftCard_button {
          color: #fff;
          font-size: 1rem;
          font-weight: bold;
          text-align: center;
          padding: 8px 0;
          border-radius: 4px;
          display: block;
          background-color: #FF5A5F;
          text-decoration: none;

          &:hover {
            opacity: 0.8;
          }

          @include tab {
            padding: 10px 25px;
            margin: 0 auto;
            width: max-content;

          }
        }
      }


      .giftCard_messasge {
        color: #fff;
        font-size: 14px;
        padding-top: 20px;
        margin: 0 auto;
        width: max-content;
        display: block;
        text-decoration: none;
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}


// ----- footer -----


.footer {
  width: auto;
  margin: 0 auto;
  font-family: Circular;
  font-weight: bold;
  padding: 24px;

  @include tab {
    padding: 48px 24px;
  }

  @include pc {
    width: 1080px;
  }

  // --- info_container ---

  .info_container {
    display: none;
    padding-bottom: 20px;
    border-bottom: solid 1px #EBEBEB;

    @include tab {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      justify-content: space-between;
    }

    .info_contents {
      width: 16%;

      .info_ttl {
        color: $base-color;
        font-size: 0.9rem;
        font-weight: bold;
        opacity: 0.9;
        margin-bottom: 0.8rem;

      }

      .info_list {

        .info_item {
          font-size: 0.9rem;

          a {
            color: $footer-color;
            opacity: 0.9;
          }

          span{
            color: #fff;
            padding: 1px 5px;
            background-color:$icon-color;
            border-radius: 4px;
            font-size: 0.7rem;
            margin-left: 0.5rem;
          }
        }
      }

      .snsInfoIcon_wrap {
        a {
          color: $footer-color;
          opacity: 0.9;
          padding-left: 0.8rem;
          margin-bottom: 0.8rem;
          display: inline-block;
        }
      }
    }
  }

  // --- license_container ---

  .license_container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    .license_wrapper {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;

      .AirbnbIcon_wrap {
        margin: auto 0;
        padding-right: 10px;

        #AirbnbIcon_footer {
          color: $footer-color;
          font-size: 22px;
          font-weight: normal;
        }
      }

      .licenseSentence_wrap {
        .license_anchor {
          color: $footer-color;
          font-size: 0.8rem;
        }

        .license_copy {
          color: $footer-color;
          font-size: 0.8rem;
        }
      }
    }

    .footer_button {
      margin: auto 0;

      .japanese_button {
        color: $footer-color;
        padding: 5px 10px;
        margin-bottom: 5px;
        border: 1px solid rgba(102, 102, 102, 0.1);
        margin-right: 10px;
        text-decoration: none;
        font-size: 0.8rem;
        display: inline-block;

        &:hover {
          background: rgba(238, 238, 238, 0.6);
        }
      }

      .JPY_button {
        color: $footer-color;
        padding: 5px 10px;
        border: 1px solid rgba(102, 102, 102, 0.1);
        text-decoration: none;
        font-size: 0.8rem;
        display: inline-block;

        &:hover {
          background: rgba(238, 238, 238, 0.6);
        }
      }
    }
  }
}
